@tailwind base;
@tailwind components;

.gradient-offer {
    background: rgb(255,237,213);
    background: linear-gradient(61deg, rgba(255,237,213,1) 0%, rgba(255,237,213,1) 38%, rgba(255,255,255,1) 38%);
}
.gradient-interact {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,237,213,1) 42%);
}
.btn {
    @apply inline-block bg-blue-400 text-center text-white px-6 py-2 rounded-md btn-shadow transition duration-200;
}
.btn:hover {
    @apply bg-blue-500;
}
.btn-shadow {
    box-shadow: 0px 19px 22px rgba(96, 165, 250, 0.5);
}
.btn-shadow:active {
    box-shadow: none;
}

@tailwind utilities;